* {
    margin: 0;
    outline: none;
    box-sizing: border-box;
}

.container {
    width: 70vw;
    margin: 0 auto;
}

table {
    border-collapse: collapse;
}

.selects {
    display: flex;

    justify-content: space-between;

    margin: 1em 0;
}

select {
    flex: 0 1 32.5%;
    cursor: pointer;
}

.tasks {
    margin-top: 1em;
}

.data-tab {
    margin-top: 1em;
}

.group-result {
    margin-top: 1em;
}